body {
    margin: 0;
    padding: 0;
    background-image: url("https://img.freepik.com/free-photo/abstract-3d-podium-with-lighting-gold-color-yellow-background-podium-stage-award-ceremony-performance-by-artist-stock-3d-redering-illustration_1258-112765.jpg?w=1060&t=st=1690583561~exp=1690584161~hmac=376da7fffec1c50b0360c60926924bffa9f9992365c2a7592051b6081d386747");
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2,h1 {
    color: #FFF;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.confeti-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.confeti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #F00;
    border-radius: 50%;
    pointer-events: none;
    animation: fall 5s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh);
        opacity: 1;
    }
}